#myCanvas {
    position: fixed;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10%;
    margin-left: 35%;
    background-color: rgb(5, 14, 51);
    
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


#audioControls {
    position: absolute;
    bottom: 40px;
}


.content {
    position: fixed;
    left: 35%;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    font-size: 50px;
    top: 5%;
    text-decoration: underline;
}


.selectMode {
    position: relative;
    color: #f1f1f1;
    top: 400px;
    font-family: monospace;
    font-size: 15px;
    display: flex;
    margin-left: 25%;
    
    
}


.highScores {
    position: relative;
    color: #f1f1f1;
    top: 250px;
    font-family: monospace;
    display: flex;
    justify-content: flex-end;
    right: 350px;

}


.hallOfFame {
    font-size: 30px;
    font-weight: 600;

}

  
.svg-wrapper {
    margin-top: -40px;
    margin-bottom: 80px;
    position: relative;
    width: 280px;
    height: 75px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin-left: 25%;
    margin-right: 5px
}

  
#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 195 195;
    stroke-dashoffset: 0;
    transition: 1s all ease;
}

  
#text {
    margin-top: -50px;
    text-align: center;
    
}

  
#text a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 26px;
    font-family: monospace;
    
}

   
.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
}

#gameOver {
    position: fixed;
    color: #690a0a;
    width: 100%;
    font-size: 150px;
    top: 10%;
    display: flex;
    justify-content: center;
    font-family: monospace;
}

#restart {
    height: 40px;
    width: 10%;
    position: fixed;
    color: #690a0a;
    top: 50%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
}

#finalScore {
    position: fixed;
    color: white;
    font-size: 32px;
    top: 10%;
    display: inline;
    font-family: monospace;
    left: 43.5%;
    top: 70%;
}